@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    height: 100vh;
    color: rgb(194, 85, 85);
    overflow: hidden; /* 스크롤 방지 */
}

.bg-img {
    background: url(https://mblogthumb-phinf.pstatic.net/MjAyMDA0MDZfMTkz/MDAxNTg2MTQxNjI5MzQw.ffettskfsQ96yaIGhXcrNGP3VqJDarKgevvP6junWnkg.HtuKqsw9jUym_ugDdjNvokkD67VFJAINKRigM4HaB4Ag.JPEG.sseam1115/IMG_0253.JPG?type=w800) center center no-repeat;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;

}

/* 타이틀 정중앙 배치 */
header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

#main-title {
    font-size: 4rem;
    color: rgb(138, 55, 70);
    text-shadow: 3px 3px 0px #fff;
}

/* 움직이는 이미지 구역 */
.move_image {
    position: absolute;
    top: 50%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%) perspective(600px) rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.mimg img {
    width: 200px; /* 사진 크기 줄임 */
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}

/* 마우스 커서 */
.cursor {
    width: 20px;
    height: 20px;
    background-color: antiquewhite;
    position: absolute;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference; /* 커서 색깔 반전 효과 */
}

/* 하단 정보창 */
.bottom-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}


